{
  "presets": [
    ["env", {
      "targets": {
        "browsers": "last 3 versions"
      }
    }]
  ],
  "plugins": [
    "transform-export-extensions",
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-flow-strip-types"
  ],
  "env": {
    "production": {
      "presets": [
        ["env", {
          "modules": false
        }]
      ]
    }
  }
}
